@model Vidly.Models.Movie
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Movie Genres: @Model.Genre</li>
    
    @if (@Model.ReleaseDate != null)
    {
        <li>Release Date: @Model.ReleaseDate</li>
    }
    
    @if (@Model.DateAdded != null)
    {
        <li>Date Added: @Model.DateAdded</li>
    }

    <li>Number in Stock: @Model.NumberInStock</li>
</ul>

